#banner {
  position: relative;
  background-color: #FFC273;
  width: 100%;
  /*height: 5%;*/
}

body {
  background-color: #D6CCBF;
  overflow-x: hidden;
  font: normal 16px/27px sans-serif;

}

.container-fluid {
  padding: 0px;

}

#sitelogo {
  padding-top: 2.5%;
  /*
  padding-right: 10px;*/
  width: 450px;
  margin: 0 auto;
  /* z-index: -100; */
  /* background-color: green; */
  position: relative;
}

#sitelogo img {
  /* min-width: 340px; */
}

#wrapper {
  /* width: 99%; */
  margin: 0 auto;
}

#siteTitle p:nth-child(1) {
  font-size: 75px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  position: absolute;
  /* display: inline-block; */
  top: 66%;
  left: 5%;
  color: white;
}
#siteTitle p:nth-child(2) {
  font-size: 25px;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  top: 87%;
  left: 13%;
  color: rgb(255, 236, 139);
}


nav {
  position: relative;
  background-color: black;
  border-bottom-style: solid;
  border-bottom-width: 0.625em;
  border-bottom-color: white;
}

nav ul {

  min-width: 420px;
  margin: 0 auto;
  padding: 0px;
}

nav ul li {
  display: inline-block;
  width: 130px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;

}

nav ul li a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid black;
  line-height: 50px;
  padding: 0px;

}

nav ul li a:link {
  text-decoration: none;

}

nav ul li a:hover
{
     color: white;
     cursor: pointer;
     border-bottom-color: #FFC273;
}

#menu {
  /*position: absolute;*/
  width: 400px;
  margin: 0 auto;
}

#menuIcon {
  /*display: none;*/
  position: absolute;
  top: 20%;
  left: 34%;
  margin-right: 10px;
}

#menuIcon:hover {
  cursor: pointer;
}

#menuTitle {
  /*display: none;*/
  position: absolute;
  left: 44%;
  top: -40px;
  /*background-color: yellow;*/
  display: inline-block;
  color: white;

}

#menuIcon div {

    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

#mobileMenu {
  display: none;
}

/*#mobileMenu ul > li:hover {
  background-color: red;
}*/

#mobileMenu ul li {
  font-size: 100px;
  z-index: -20;
  color: red;
  display: block;
}
#mobileMenu ul {
  position: absolute;
  z-index: 20;
  color: white;
  /*background-color: green;*/
}

#collapsibleMenu {
  height: 100px;
  width: 100%;
  background-color: red;
}


#menuContainer {
  z-index: 200;
  /*width: 600px;*/
  display: none;
  height: 200px;
  /*width: 75%;*/
  margin: -10px auto;
  position: relative;
  /*background-color: green;*/
}

#drop {
  /*margin: 0 auto;*/
  display: none;
  z-index: 1000;
  position: absolute;
  top: -0.4%;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  background-color: black;
  opacity: 0.9;
}

#drop li a {
  color: white;

  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

#drop li a:hover {

  background-color: #FFC273;
}

#drop li {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
  background-color: black;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  padding: 0.25em;
}

h2 {
  display: inline-block;
  margin-top: 0.45em;
  padding: 0.25em;
  color: white;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
}

.image-link {
  max-width: 100%;
  position: relative;
  background-color: #FFC273;
}


.image-link img {
      width: 100%;
}

.project-info {
   position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  display: none;
  opacity: 0;
}

.vertcenter1 {
  bottom: 54%;
}

.vertcenter2 {
  bottom: 42%;
}



.project-info h3 {
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 28px;
      font-weight: 700;
      color: white;
      letter-spacing: 1.2px;
  }

#shortcuts {

  /*position: relative;*/
  /*padding-left: 65px;*/
  /* background-color: yellow; */
  width: 82%;
  /*padding-left: 6%;*/
  padding-top: 20px;
  margin: 0 auto;

}



.workItem {
  position: relative;
  background-color: #FFC273;
  display: block;
  margin-bottom: 20%;
  height: auto;
}



.content-row {
  width: 100%;
  /*margin: auto 0;*/
}

#about {
  position: relative;
  display: block;
  /*margin-left: 15%;
  margin-right: 10%;*/
  margin: 0 auto;
  padding-top: 2%;
  /*padding-bottom: 15px;*/
  padding-left:  25px;
  padding-right: 25px;
  /*max-width: 90%;
  min-width: 75%;*/
  /*width: 80%;*/
  height: 100%;
  background-color: white;
}


#aboutText {
  display: inline-block;
  margin-top: 5%;
  padding-bottom: 25px;
}

#aboutText p  {
    display: inline;
    font-size: 18px;
    font-weight: 700;

}



#myPicture {
  margin-top: 7%;
}

#innerContent p {
  margin-top: 5%;
}

#about h2 {
  display: inline-block;
}

#skills {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 2%;
  height: 100%;
  background-color: white;
}

#skillIcons {

  margin-top: 55px;
  padding-bottom: 51px;
}

.test2 {
  /*background-color: red;*/
 padding-left: 10%;
}

.test3 {
  /*background-color: green;*/
  padding-right: 10%;
}

#middleRow {
  margin: 0 auto;
  /*display: flex;*/
}

#contact{
  margin-top: 5%;
}

/* #contactform * {
  font-size: 1.125em;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}

#contactform {
  margin-top: 25px;
  margin-bottom: 75px;
}

#contactform button {
  position: relative;
  background-color: #7F7A7A;
  font-size: 1.5em;
  padding: 5px;
  color: white;
  font-weight: bold;

  margin-top: 20px;
} */

#contactInfo {
  /* background-color: yellow; */
  width: 70%;
  padding-top: 60px;
  padding-bottom: 90px;
  margin: 0px auto;
}


.glyphicon {
  position: absolute;
  color: white;
}

footer {
  position: relative;
  border-top: solid 0.625em white;
  height: 95px;
  background-color: black;
  /*text-align: center;*/
}

footer * {
  font-weight: bold;
  margin-top: 6px;
  display: inline-block;
  color: white;

}

#footerMenu {
  /*background-color: blue;*/
  width: 620px;
  margin: 10px auto;
}

#footerMenu li:nth-child(0) {
  /*margin-right: 10px;*/
  display: inline-block;
  margin-left: 10px;
  padding-right: 20px;
  border-right: 1px solid white;
}

#footerMenu ul li:nth-child(1) {
  margin-right: 10px;
  padding-right: 20px;
  border-right: 1px solid white;
}

#footerMenu ul li:nth-child(2) {
  margin-right: 10px;
  padding-right: 20px;
  border-right: 1px solid white;
}

#footerMenu ul li:nth-child(3) {
  margin-right: 10px;
  padding-right: 20px;
  border-right: 1px solid white;
}


footer ul li a:hover
{
     color: white;
     cursor: pointer;
     border-bottom-color: #FFC273;
}

footer ul li a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid black;
}
footer ul li a:link {
  text-decoration: none;

}

#socialLinks a:nth-child(2) {
  /*position: absolute;
  right: 80px;
  top: 3px;*/
  /*background-color: red;*/

}

#socialLinks a:nth-child(1) {
  margin-right: 10px;
}

#socialLinks {
  position: absolute;
  right: 1%;
  /*background-color: purple;*/
  width: 120px;
  display: inline-block;

}

#allContent {
  position: relative;
  width: 97%;
  margin: 0 auto;
}

.contactLink {
  padding-bottom: 30px;
}

/*  MEDIA QUERIES  */

/* @media (hover: none) {
   /*a:link {
      color: red;
   }
} */

@media screen and (max-width:480px) {

  nav ul {
    display: none;
  }

  nav {
    height: 70px;
  }

  #mobileMenu {
    display: inline-block;
  }

  #siteTitle p:nth-child(1) {
    font-size: 63px;
    left: 3%;
  }

  #siteTitle p:nth-child(2) {
    font-size: 22px;
    top: 88%;
    left: 10%;
  }

  #sitelogo {
    width: 360px;
  }

  /* #wrapper {
    width:
  } */
}

@media screen and (max-width:645px) {

  footer ul {
    display: none;
  }

  #menuContainer {
    display: none;
  }


  #footerMenu {
    display: none;
  }

  #socialLinks {
    position: relative !important;
    margin: 0 auto;
    /*left: 38%;*/
  }

  #contactInfo {
    padding-bottom: 60px;
  }

}

@media screen and (max-width:768px) {


   #shortcuts {
    padding-left: 0%;
    width: 300px;
  }

  #centerShortcuts{
    padding-left: 0% !important;
    /*width: 80%;*/
    /* background-color: purple; */
  }

  #about {
    width: 75%;
    margin: 5% auto;
  }

  #skills {
    width: 75%;
  }

  .test2{
    padding: 0;
    margin: auto 0;
  }

  .test3{
    padding: 0;
  }

  #test4 {
    margin: 0 auto;
  }

  #copyright {
    display: none;
  }

}

@media screen and (max-width:992px) {

  #copyright {
    display: none;
  }

}

@media screen and (max-width:1200px) {

}
