body {
	background-color: white;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 300;
}

#red-button {
	background-color: red;
}
#yellow-button {
	background-color: yellow;
}
#blue-button {
	background-color: lightblue;
}
#green-button {
	background-color: green;
}