body {
  background: #35586C;
  /*min-width: 375px;*/
  overflow-x: hidden;
  margin-top: 2%;
  height: 100%;
}

.container-fluid {
  /*width: 80%;*/
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}


h1{
  font-family: 'Orbitron';
  font-size: 50px;
  background: #FBA16C;
  width: inherit;
  color: #35586C;
  /*transform: translate(21%, 0%);*/
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 30px;
  /*margin-top: 10px;
  margin-bottom: 0px;*/
  margin: 0 auto;
  padding-bottom: 10px;
}

p{
  background: #FBA16C;
  width: inherit;
  color: #35586C;
  /*transform: translate(21%, 0%);*/
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

#menu{
  background: #FBA16C;
  color: #35586C;
  width: inherit;
  /*transform: translate(21%, 0%);*/
  margin: 0 auto;
  padding-top: 10px;

}



#streams{
  width: 95%;
  margin: 0 auto;
  padding: 0px;
  color: black;

}

.offline{
  background-color: #C7C7C7;
  border-radius: 10px;
  width: inherit;
  /*transform: translate(23%, 0%);*/
  margin: 5px auto;
  /*margin-top: 5px;
  margin-bottom: 5px;*/
  padding: 20px;
  font-size: 12px;
  height: 100%;
}

.online{
  background-color: #FBDB0C;
  width: inherit;
  border-radius: 10px;
  /*transform: translate(23%, 0%);*/
  /*margin-top: 5px;
  margin-bottom: 5px;*/
  margin: 5px auto;
  padding: 20px;
  font-size: 12px;
  height: 100%;
}

#bottom{
  background: #FBA16C;
  width: inherit;
  /*transform: translate(21%, 0%);*/
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width:480px) {
  #wrapper {
    width: 100%;
  }
  #streams {
    width: 100%;
  }
}

@media screen and (max-width:640px) {

}

@media screen and (max-width:768px) {

}

@media screen and (max-width:1200px) {

}
